<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dashit.uni.com.dashit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <permission
        android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="info.androidhive.googlemapsv2.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".DashItApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:launchMode="singleInstance">
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/recording"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.HistoryActivity"
            android:label="@string/action_history"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.HistoryVerifyActivity"
            android:label="@string/action_history_verify"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.activity.HomeActivity" />
        </activity>
        <activity
            android:name=".view.activity.VerifyFilesActivity"
            android:label="@string/title_activity_verify_files"
            android:parentActivityName=".view.activity.HistoryVerifyActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dashit.uni.com.dashit.view.activity.HistoryVerifyActivity" />
        </activity>

        <service
            android:name=".service.BackgroundService"
            android:exported="false" />
        <service
            android:name=".service.SensorService"
            android:exported="false" />
        <service
            android:name=".service.LocationChangeService"
            android:exported="false" />

        <receiver android:name=".service.BackgroundService$CollisionBroadcastReceiver">
            <intent-filter>
                <action android:name="com.collisionConfirmed.Broadcast" />
            </intent-filter>
        </receiver>
        <receiver android:name=".view.activity.MainActivity$CollisionBroadcastReceiver">
            <intent-filter>
                <action android:name="com.collisionDetected.Broadcast" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCqlvVSK2a6pNjMWH_IrRBTa_YbdYszoVw" />
    </application>

</manifest>